/bitrix
/upload
/nbproject
*.log
*.txt
*.lnk
*.log.*
.DS_Store
*.iml
.idea/
.vscode/
*.ipr
*.iws
/out/
.idea_modules/
/gitignore
node_modules
*.xml
.htsecure
*.lock
/.well-known
/.htaccess
*.tar.gz
*.zip
/*.html
/i.php
/tmp_files
/seofiles
/images
*.json
/testt
/banner
/promo
/promo-2
/raschet
/docs
iblock
/.htaccess_1
/.htaccess_2
/.htpasswd
/iblock/*
/promo/*
/promo-2/*
!/local/php_interface/classes/iblock/
