footer {
  padding: 0;
  background: #d8dde1;
  box-shadow: inset 0 6px 9px rgba(0, 0, 0, .1);
}
footer .block-one {
  border-bottom: 1px solid #c4cacf;
  padding: 10px 20px;
  margin: 0 -10px;
}
footer .block-one .block-one-link,
footer .block-one .block-one-call {
  float: left;
  width: 40%;
}
footer .call-block {
  background-color: #fff;
  border-top: 4px solid #747b85;
  padding: 10px;
}
footer .call-block h3 {
  font-weight: normal;
  font-size: 12px;
  color: #000;
  margin: 0 0 5px;
}
footer .call-block a {
	display: inline-block;
  font-weight: bold;
  font-size: 18px;
  color: #747b85;
  text-decoration: none;
  margin: 0 0 10px;
}
footer .work {
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
  margin: 0 0 5px;
}
footer .block-one .block-one-link {
  margin-left: 20%;
}
footer .block-one-link ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
footer .block-one-link a {
  display: block;
  color: #747b85;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 0;
}
footer .social {
	margin-top: 7px;
}
footer .social a {
  margin: 0 10px 0 0;
}

footer .block-two,
footer .block-three,
footer .block-four {
  border-bottom: 1px solid #c4cacf;
  padding: 10px 20px;
  margin: 0 -10px;
}
footer .block-two h3,
footer .block-three h3,
footer .block-four h3 {
	text-transform: uppercase;
	font-size: 16px;
	color: #000;
	margin: 0 0 10px;
	padding: 0;
}
footer .block-two ul,
footer .block-three ul,
footer .block-four ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
footer .block-two ul li,
footer .block-three ul li,
footer .block-four ul li {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 5px 0;
}
footer .block-two ul a,
footer .block-three ul a,
footer .block-four ul a {
	display: block;
	text-transform: uppercase;
	color: #747b85;
  font-size: 12px;
  padding: 2px 0;
}
footer .footer-dark {
	background-color: #747b85;
	color: #fff;
	padding: 10px 0;
}
footer .footer-dark .counter {
	display: block;
	width: 90px;
	float: right;
	margin: 4px 0 0 5px;
}
footer .footer-dark .dev {
	float: right;
}
footer .footer-dark .dev .ml {
	margin-left: 40px;
	line-height: 1;
}
footer .footer-dark .dev img {
	display: inline-block;
	vertical-align: middle;
}
@media (min-width: 789px) {
	footer {
		padding:  0 10px;
	}
	footer .container-fluid {
	  position: relative;
	  padding: 0;
	}
	footer .block-one,
	footer .block-two,
	footer .block-three,
	footer .block-four {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		width: 25%;
		border-bottom: none;
		margin: 0;
		width: 25%;
		padding: 30px 2%;
	}
	footer .block-two:after,
	footer .block-three:after,
	footer .block-four:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 1px;
		background: #c4cacf;
	}
	footer .block-two:after {
		left: 25%;
	}
	footer .block-three:after {
		left: 50%;
	}
	footer .block-four:after {
		left: 75%;
	}
	footer .block-one .block-one-link,
	footer .block-one .block-one-call {
		width: auto;
		float: none;
	}
	footer .block-one .block-one-link {
	  margin-left: 0;
	}
	footer .call-block {
		margin: 0 0 30px;
	}
	footer .block-two ul li,
	footer .block-three ul li,
	footer .block-four ul li {
		display: block;
		margin: 0;
	}
	footer .footer-dark {
		margin: 0 -10px;
	}
	footer .footer-dark .copyr {
		float: left;
		line-height: 42px;
	}
	footer .social {
	  text-align: center;
	  margin-top: 12px;
	}
}
@media (min-width: 1050px)
{
	footer .block-one .block-one-link {
		padding: 0 10px;
	}
	footer .block-one-link .social {
	  margin-top: 25px;
	}
}

.block-three ul li:nth-child(7) {
    font-weight: 700 !important;
}

.block-three ul li:last-child {
    font-weight: 700 !important;
}